body {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
}
.book-options {
    background-color: green;
}
.right-container {
    display: grid;
    grid-template-rows: 200px 1fr;
}

.header {
    height: 100%;
    background-color: gray;
}

.library {
    background-color: orange;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    gap: 15px;
}

.bookcontainer {
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
}